body{
	background-color: #FFF;
	letter-spacing: 0.5pt;
	line-height: 1.8em;
	font-family: Verdana,"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

img.top{
	width: 350px;
	display: block;
	margin: 30px auto;
}

#container{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

/*main*/

#main{
	background-color: #F4F4E8;
	background-image: url(image/texture3.png);
	background-repeat : repeat;
	width: 600px;
	float: right;
	margin: 0 0 30px 50px; 
	padding: 50px 30px;
}

#main h1{
	font-size: 20px;
	color: #717071;
	margin: 10px 40px;
	/*
	background-image: url(ruby2.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
    */
    text-shadow:0px -1px  1px rgba(0, 0, 0, .4), 0px 1px #fff;
}

#main h2{
	font-size: 16px;
	color: #EC799D;
	margin: 0 40px;
	text-shadow:0px -1px  1px rgba(0, 0, 0, .2), 0px 1px #fff;
}

#main h3{
	font-size: 18px;
	color: #EF8FAD;
	margin: 10px 40px;
	text-shadow:0px -1px  1px rgba(0, 0, 0, .2), 0px 1px #fff;
}

.space{
	position:relative;
	height: 30px;
	margin: 50px -30px 0 -30px;
	padding: 5px;
	border-top: 1px dashed #aaa;
	border-bottom: 1px dashed #aaa;
	background: #FFF;
	box-shadow:	0 5px 4px -4px rgba(0,0,0,0.3) inset;
}


#main p{
	font-size: 16px;
	color: #717071;
	margin: 0 40px; 
}

#main a{
	font-size: 16px;
	color: #E9628C;
	transition-property: all;
	transition: 0.3s linear;
}

#main a:hover{
	color: #EF8FAD;
}

#main img{
	max-width: 100%;
}

#main #social{
	float: right;
	margin-right: 40px;
}

#main strong{
  background: linear-gradient(transparent 30%, #fbd 30%);
}

#main .line{
	border-bottom: 4px dashed #FFF;
	margin: 20px 40px;
}



/*sidebar*/

#sidebar{
	background-color: #F4E9EA;
	background-image: url(image/texture1.png);
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	float: left;
	padding: 20px 12px 20px 15px; 
}

#sidebar h4{
	font-size: 18px;
	color: #EC799D;
	text-decoration: none;
	margin: 45px 0 10px 0;
	text-shadow: 0px -1px  1px rgba(0, 0, 0, .2), 0px 1px #fff;
}

#sidebar .title-link a{
	font-size: 16px;
	color: #717071;
	letter-spacing: 0.3pt;
	margin: 10px 0;
	transition-property: all;
	transition: 0.3s linear;
	text-decoration: none;
}

.title-link a:hover{
	color: #EF8FAD;
}

#sidebar .caption{
	font-size: 14px;
	color: #717071;
	letter-spacing: 0;
	line-height: 1.5em;
	margin-top: 0;
}

#sidebar .caption a{
	font-size: 14px;
	color: #EF8FAD;
	transition-property: all;
	transition: 0.3s linear;
}

#sidebar .caption a:hover{
	color: #e54c7c;
}


/*footer*/

#footer{
	background-color: #E9CFD3;
	clear: both;  
}

#footer-image{
	background-image: url(image/footer.png);
	background-size: contain;
	height: 130px;
	width: 200px;
	background-repeat: no-repeat;
	background-position: right bottom;
	z-index: 1;
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
}


#footer-text{
	font-size: 12px;
	color: #717071;
	padding: 20px;
	z-index: 0;
	position: relative;
	width: 960px;
	margin: 0 auto;
}

#footer-text a{
	font-size: 16px;
	color: #717071;
	transition-property: all;
	transition: 0.3s linear;
	text-decoration: none;
}

#footer-text a:hover{
	color: #EF8FAD;
}

#footer-text p{
	margin: 0;
}

#footer img#logo{
	height: 90px;
	margin-bottom: 10px;
}




@media screen and (max-width: 768px) {

img.top{
	width: 250px;
	display: block;
	margin: 30px auto;
}

#container{
	width: 100%;
	margin: 0 auto;
	padding: 0
}

/*main*/

#main{
	width: 95%;
	margin: 0 auto;
	position: relative;
	float解除
}

#main h1{
	font-size: 18px;
	margin: 8px;
}

#main h2{
	font-size: 16px;
	margin: 0 8px;
}

#main h3{
	margin: 8px;
}

#main p{
	font-size: 14px;
	margin: 0 8px; 
}

#main #social{
	float: right;
	margin-right: 20px;
}

#main .line{
	border-bottom: 4px dashed #FFF;
	margin: 8px;
}

/*sidebar*/

#sidebar{
	display: none;
}

ハンバーガーにする

/*footer*/
#footer{
	width: 100%;
	position: absolute;
}

#footer-image{
	height: 110px;
	width: 160px;
	bottom: 60px;
}

#footer img#logo{
	height: 70px;
	margin-bottom: 5px;
}

#footer-text p{
	折り返しできない
}

}